# No whitespace after the comma or in your part name!
config SHIELD_VALYRIAN_LEFT
    def_bool $(shields_list_contains,valyrian_left)

# No whitespace after the comma or in your part name!
config SHIELD_VALYRIAN_RIGHT
    def_bool $(shields_list_contains,valyrian_right)